@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Poppins:wght@100;300;500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #512a10;
}

@keyframes fadeIn {
  0% {
    transform: translate(-2rem);
    opacity: 0;
  }
}
section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #512a10;
  color: #512a10;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}
.link-btn:hover {
  background: #512a10;
  color: #fff;
}

.header {
  z-index: 1000;
  padding: 4rem 0;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.header .nav a {
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}
.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
}
.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}
.header #menu-btn {
  display: none;
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.login-form:active {
  display: flex;
}
.login-form form {
  width: 50rem;
  padding: 4rem;
  background: #fff;
  text-align: center;
  position: relative;
  animation: fadeIn 0.2s linear;
}
.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.login-form form #close-login-form:hover {
  transform: rotate(90deg);
}
.login-form form .logo {
  font-size: 2.5rem;
  color: #512a10;
  font-weight: bolder;
}
.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  margin-top: 1rem;
}
.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #512a10;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.login-form form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}
.login-form form .flex a {
  font-size: 1.5rem;
  color: #512a10;
  margin-left: auto;
}
.login-form form .flex a:hover {
  text-decoration: underline !important;
}
.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}
.login-form form .account {
  padding: 1.5rem 0.5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.login-form form .account a {
  color: #512a10;
}
.login-form form .account a:hover {
  text-decoration: underline !important;
}

.home {
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
