@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Poppins:wght@100;300;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: all .2s linear;
}

$main-color: #512a10;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: .1rem solid $main-color;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin title-text($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graph-text($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
    }
}

section {
    padding: 5rem 1rem;
}

.header {
    z-index: 1000;
    padding: 4rem 0;

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;
    }

    .nav {

        a{
            font-size: 2rem;
            margin-right: 2rem;
            color: $white;

            &:hover {
                text-decoration: underline !important;
                text-underline-offset: .5rem;
            }
        }
    }

    .icons div {
        font-size: 2.5rem;
        color: $white;
        margin-left: 2rem;
        cursor: pointer;
    }

    #menu-btn {
        display: none;
    }
}

.login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    form {
        width: 50rem;
        padding: 4rem;
        background: $white;
        text-align: center;

        .logo {
            font-size: 2.5rem;
            color: $main-color;
            font-weight: bolder;
        }

        h3 {
            padding: 1rem 0;
            @include title-text(2rem);
        }

        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: 1rem 0;
        }
    }
}

.home {
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}